$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.06);

$color: #070f21;
$primaryColor: #3ab052;
$secondaryColor: #ff7b00;
$warningColor: #ffc107;
$errorColor: #f44336;
$cancelColor: #ffc107;

$btnDefaultColor: #dedfe0;
$btnDisabledColor: #edeeee;

$btnContainedColor: #3482da;
$btnPrimaryColor: #3ab052;
$btnSecondaryColor: #ff7b00;
$btnCancelColor: #e17b1c;
$btnWarningColor: #ffc414;
$btnErrorColor: #f94f43;
$btnDeleteColor: #f94f43;

$btnDefaultHoverColor: #2d73c2;
$btnPrimaryHoverColor: #298f3f;
$btnSecondaryHoverColor: #ff7b00;
$btnCancelHoverColor: #d46702;
$btnWarningHoverColor: #ffc107;
$btnErrorHoverColor: #f44336;
$btnDeleteHoverColor: #f44336;
$btnDisabledHoverColor: #edeeee;

$btnTextColor: #636975;
$btnSecondTextColor: #ffffff;
$btnDisabledTextColor: #b9bbbc;

$grey: #dedfe0;
$greyHover: #8b8b8b;
$braun: #edeeee;
$brauHover: #b9bbbc;
$blue: #3482da;
$blueHover: rgb(5, 96, 201);
$green: #3ab052;
$greenHover: rgb(29, 141, 53);
$yellow: #ffc107;
$yellowHover: rgb(209, 157, 2);
$orange: #e17b1c;
$orangeHover: #d46702;
$red: #f94f43;
$redHover: rgb(224, 41, 28);
$darkRed: #DC143C;
$darkRedHover: #B22222;

$defaultColor: #dedfe0;
$focusColor: #2d73c2;
$successColor: #3ab052;
$errorColor: #f44336;
$warningColor: #ffc107;
$disabledColor: #f7f8fa;
$placeholderColor: #dedfe0;

$defaultBorderColor: #dedfe0;
$defaultHoverBorderColor: #2d73c2;
$focusBorderColor: #2d73c2;
$successBorderColor: #3ab052;
$errorBorderColor: #f44336;
$warningBorderColor: #ffc107;
$disabledBorderColor: #dedfe0;
$hoverBorderColor: #636975;
$greyBorderColor: #bebebe;

$lightBGColor: #f2f3f5;
$disabledBGColor: #f7f8fa;

/** checkbox definition **/
$checkboxColor: #ffffff;
$checkboxBGColor: #064893;
$checkboxBorderColor: #064893;
$checkboxBorderWidth: 2px;
$checkboxBorderRadius: 4px;
$checkboxSize: 18px;
$checkboxFontSize: 12px;